<!--<div class="container">
  <div class="form-group">
      <form >
        <label for="name">Offer Title</label>
        <input type="text" name="name" #offertitle id="name" class="form-control" placeholder="" aria-describedby="helpId">

        <label for="email">Offer Description</label>
        <input type="text" name="email" #offerdescript id="email" class="form-control" placeholder="" aria-describedby="helpId">

        <label for="password">Offer Ville</label>
        <input type="text" name="password" #offervill id="password" class="form-control" placeholder="" aria-describedby="helpId">

        <label for="confirm_password">Category Offer</label>
        <input type="text" name="confirm_password" #offercatt  id="password" class="form-control" placeholder="" aria-describedby="helpId">

        <button type="submit" (click)="update(offertitle.value,offerdescript.value,offervill.value,offercatt.value)" class="btn btn-primary">Update Offer</button>
     </form>
  </div>
</div>-->
<div class="animate__animated animate__bounceInLeft">
  <div class="container">
    <div class=" text-center mt-5 ">

        <h1 class="title">UPDATE OFFER</h1>


    </div>


  <div class="row ">
  <div class="col-lg-7 mx-auto  ">
    <div class="card mt-2 mx-auto ss  p-4 bg-light">
        <div class="card-body  bg-light">

        <div class = "container ">
            <form id="contact-form" role="form">
        <div class="controls">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="form_name " class="litltitle">Offer Title </label>
                        <input id="form_name" [(ngModel)]="Title"  #offertitle type="text" name="name" class="form-control" placeholder="devlepeurs" required data-error="Firstname is required.">
                    </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                      <label for="form_email " class="litltitle">Ville </label>
                      <input id="form_email" [(ngModel)]="Ville" #offervill type="text" name="email" class="form-control" placeholder="Rabat *" required="required" data-error="Ville is required.">
                  </div>
              </div>
            </div>
            <div class="row">

                <div class="col-md-12">
                    <div class="form-group">
                        <label for="form_need" class="litltitle">Please specify your Ctegory </label>
                        <select id="form_need" [(ngModel)]="Category" #offercatt name="need" class="form-control" required="required" data-error="Please specify your need.">
                            <option value="" selected disabled>--Select Offer Ctegory--</option>
                            <option >Informatique</option>
                            <option >Economics</option>
                            <option >teatching</option>
                            <option >Other</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="form_message" class="litltitle">Description </label>
                        <textarea id="form_message" [(ngModel)]="Description" #offerdescript name="message" class="form-control" placeholder="Write your Offer description here." rows="4" required="required" data-error="Please, leave us a message."></textarea>
                        </div>
                    </div>
                <div class="col-md-12 text-center mt-4">
                    <input type="submit" (click)="update(offertitle.value,offerdescript.value,offervill.value,offercatt.value)" class="btn btnnn btn-primary w-100 btn-send  pt-2 btn-block" value="UPDATE OFFER" >
            </div>
            </div>
    </div>
     </form>
    </div>
        </div>
  </div>
    <!-- /.8 -->

  </div>
  <!-- /.row-->

  </div>
  </div>
  </div>
